:root {
    --main-white: rgb(209, 209, 209);
}

.main-text-colour {
    color: var(--main-white);
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.27);
}

Button {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
